@import "./var.scss";
.main-content {
  //width: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  .main-content::-webkit-scrollbar {
    display: none;
  }
  @media only screen and (max-width: 768px) {
    overflow-y: visible;
  }
  @media only screen and (min-width: 768px) {
    flex: 0 0 calc(100% - 250px);
    max-width: calc(100% - 360px);
  }
}
.product--listing {
  &__title {
    color: #3e3c3b;
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 30px;

    @media only screen and (min-width: 768px) {
      font-size: 1.875rem;
    }

    &::before,
    &::after {
      content: "";
      border-top: 1px solid #ddd;
      margin: 0 20px 0 0;
      flex: 1 0 20px;
    }

    &::after {
      margin: 0 0 0 20px;
    }
  }
}

.product--row {
  margin-left: -8px;
  margin-right: -8px;

  > div {
    padding-left: 8px;
    padding-right: 8px;
  }

  .product--items {
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }

    @media only screen and (min-width: 1500px) {
      flex: 0 0 20%;
      max-width: 16%;
    }

    @media only screen and (min-width: 2000px) {
      flex: 0 0 16.667%;
      max-width: 16.667%;
    }
  }
}

.product {
  background-color: #fff;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  height: 100%;
  overflow: hidden;
  //padding-bottom: 15px;

  &:hover {
    .product_overlay {
      opacity: 1;
      visibility: visible;
      z-index: 1;
    }
  }
  button {
    background: #00a07e;
    border: none;
    height: 50px;
    width: 47px;

    border-radius: 50%;
    margin-left: 10px;
    margin-bottom: 10px;
    .addtocart {
      color: ghostwhite;
      font-size: 29px;
      padding: 10px;
      font-weight: 700;
      padding-bottom: 5px;
    }
  }
  &__card {
    padding-bottom: 10px;
    position: relative;
  }

  &_badge {
    background-color: $primary-color;
    border-radius: 4px;
    color: #fff;
    font-size: 0.75rem;
    font-weight: 600;
    padding: 0 10px;
    position: absolute;
    right: 15px;
    top: 15px;
  }

  &_img {
    height: 220px;

    @media only screen and (max-width: 1350px) {
      height: 150px;
    }

    @media only screen and (max-width: 767px) {
      height: 100px;
    }

    img {
      display: block;
      object-fit: cover;
      max-height: 100%;
      margin: auto;
    }
  }

  &_name {
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 400;
    height: 60px;
    overflow: hidden;
    padding: 5px 5px 0;
    text-align: center;
    text-overflow: ellipsis;
    white-space: normal;

    @media only screen and (max-width: 767px) {
      height: 45px;
      line-height: 18px;
    }
  }

  &_quantity {
    color: #333;
    font-weight: 400;
    font-size: 12px;
    margin-top: 1px;
    text-align: center;
  }

  &_price {
    &_discount {
      color: #e43215;
      font-weight: 700;
      font-size: 18px;
    }

    &_price {
      margin-left: 5px;
      margin-top: 4px;
      text-decoration: line-through;
      padding-top: 0;
      font-size: 12px;
    }
  }

  &_overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: -1;
    transition: all 0.3s ease-in-out;

    &_text {
      color: #fff;
      cursor: pointer;
      font-size: 22px;
      line-height: 34px;
      margin: 0;
      height: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px;
      width: 100%;
    }

    &_details {
      background-color: #eee;
      color: $category-link-color;
      bottom: 0;
      display: block;
      font-size: 13px;
      font-weight: 500;
      position: absolute;
      text-align: center;
      padding: 3px 5px;
      width: 100%;
      z-index: 2;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: $primary-color;
        color: #fff;
        text-decoration: none;
      }
    }
  }

  &__btns {
    padding-top: 10px;

    &_cart {
      .btn {
        background-color: rgb(243, 244, 246);
        border: 0;
        border-radius: 5px;
        color: rgb(75, 85, 99);
        font-size: 12px;
        font-weight: 700;
        padding-bottom: 7px;
        padding-top: 7px;
        position: relative;
        transition: all 0.3s ease-in-out;

        @media only screen and (min-width: 768px) {
          font-size: 13px;
        }

        @media only screen and (max-width: 767px) {
          padding-left: 5px;
          padding-right: 5px;
        }

        .btn-icon {
          background-color: rgb(229, 231, 235);
          border-radius: 0 5px 5px 0;
          display: block;
          height: 2.25rem;
          position: absolute;
          right: 0;
          top: 0;
          width: 2.25rem;
          transition: all 0.3s ease-in-out;
        }

        &:hover,
        &:focus {
          background-color: rgba($primary-color, 0.8);
          box-shadow: none;
          color: #fff;
          outline: none;

          .btn-icon {
            background-color: $primary-color;
          }
        }
      }
    }

    &_add {
      display: none;
      > div {
        background-color: rgba($primary-color, 0.9);
        border-radius: 5px;
        color: #fff;
        overflow: hidden;
        height: 2.25rem;

        button {
          background-color: $primary-color;

          border: 0;
          color: #fff;
          height: 100%;
          width: 2.25rem;

          &.btn-plus {
            margin-left: auto;
          }
        }
      }

      &_number {
        text-align: center;
        width: calc(100% - 72px);
      }
    }
  }
}
