$navbackground: #e9d5d5;
//$banner-background: url("./asset/images/banner1.jpg");
$font-family-lato: Lato, sans-serif;
$product-text-color: rgb(13, 17, 54);
$cart-button-color: #308c3f;
$cart-button-hover-color: #ffffff;
$cart-button-background: #eeeeee;
$cart-button-hover-background: #308c3f;
$category-link-color: #444444;
$category-link-hover-color: #666666;
$primary-color: #00a07e;

$transition: all 0.3s linear;
$spacing: 0.1rem;
$radius: 0.25rem;
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
$max-width: 1170px;
$fixed-width: 620px;
